kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ printf "%s-server" (include "medea-demo.fullname" .) | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    helm.sh/chart: {{ include "medea-demo.chart" . | quote }}
    app.kubernetes.io/name: {{ include "medea-demo.name" . | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/component: server
  {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  revisionHistoryLimit: {{ .Values.server.deployment.revisionHistoryLimit | int }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "medea-demo.name" . | quote }}
      app.kubernetes.io/instance: {{ .Release.Name | quote }}
      app.kubernetes.io/component: server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "medea-demo.name" . | quote }}
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        app.kubernetes.io/component: server
      {{- with .Values.labels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      annotations:
        checksum/conf: {{ pick (include (print $.Template.BasePath "/configmap.server.yaml") . | fromYaml) "data" | toYaml | sha256sum | quote }}
      {{- with .Values.server.deployment.revision }}
        revision: {{ . | quote }}
      {{- end }}
      {{- with .Values.server.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
    {{- with .Values.server.deployment.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.server.deployment.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.server.image.credentials }}
      imagePullSecrets:
        - name: {{ printf "%s.registry" (include "medea-demo.fullname" .) | quote }}
    {{- end }}
      containers:
        - name: medea
          image: {{ printf "%s:%s" .Values.server.image.repository .Values.server.image.tag | quote }}
          imagePullPolicy: {{ .Values.server.image.pullPolicy | quote }}
          env:
            - name: MEDEA__CONF
              value: /etc/medea.toml
          {{- if not (index .Values.server.conf.ice.embedded "public_host") }}
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: MEDEA__ICE__EMBEDDED__PUBLIC_HOST
              value: "$(POD_IP):{{ .Values.server.conf.ice.embedded.bind_port | int }}"
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.server.conf.server.client.http.bind_port | int }}
              protocol: TCP
            - name: grpc
              containerPort: {{ .Values.server.conf.server.control.grpc.bind_port | int }}
              protocol: TCP
          {{- if .Values.monitoring.enabled }}
            - name: metrics
              containerPort: {{ .Values.conf.metrics.port | int }}
              protocol: TCP
          {{- end }}
          volumeMounts:
            - name: conf
              subPath: medea.toml
              mountPath: /etc/medea.toml
              readOnly: true
        {{- with .Values.server.deployment.resources }}
          resources: {{- toYaml . | nindent 12 }}
        {{- end }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.server.conf.server.client.http.bind_port | int }}
            initialDelaySeconds: 3
          readinessProbe:
            tcpSocket:
              port: {{ .Values.server.conf.server.client.http.bind_port | int }}
            initialDelaySeconds: 5
      {{- $controlMock := index .Values "server" "control-mock" }}
        - name: control-mock
          image: {{ printf "%s:%s" $controlMock.image.repository $controlMock.image.tag | quote }}
          imagePullPolicy: {{ $controlMock.image.pullPolicy | quote }}
          args:
            - --addr=0.0.0.0:{{ $controlMock.conf.bind_port | int }}
            - --medea-addr=http://127.0.0.1:{{ .Values.server.conf.server.control.grpc.bind_port | int }}
          env:
            - name: RUST_LOG
              value: {{ $controlMock.conf.log.level | quote }}
          ports:
            - name: control-http
              containerPort: {{ $controlMock.conf.bind_port | int }}
              protocol: TCP
      volumes:
        - name: conf
          configMap:
            name: {{ printf "%s.server.conf" (include "medea-demo.fullname" .) | quote }}
