[package]
name = "medea-jason"
version = "0.3.0-dev"
edition = "2021"
rust-version = "1.65"
description = "Client library for Medea media server."
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
license = "MPL-2.0"
documentation = "https://docs.rs/medea-jason"
homepage = "https://github.com/instrumentisto/medea-jason"
repository = "https://github.com/instrumentisto/medea-jason"
readme = "README.md"
keywords = ["medea", "jason", "webrtc", "client", "browser"]
categories = ["multimedia", "api-bindings", "web-programming", "wasm"]
exclude = ["/demo/", "/e2e-demo/", "/flutter/"]

[workspace]
members = [
    "crates/medea-macro",
    "crates/medea-reactive",
    "mock/control-api",
    "proto/client-api",
    "proto/control-api",
    "e2e",
]

[lib]
crate-type = ["cdylib", "rlib", "staticlib"]

[profile.release]
lto = "fat"

[features]
default = ["console_error_panic_hook", "wee_alloc"]
dart-codegen = ["medea-macro/dart-codegen"]
mockable = ["mockall"]

[dependencies]
async-recursion = "1.0"
async-trait = "0.1"
backoff = { version = "0.4", features = ["futures"] }
bitflags = "1.3"
derivative = "2.2"
derive_more = "0.99"
futures = "0.3"
log = "0.4"
medea-client-api-proto = { version = "0.4.0-dev", path = "proto/client-api" }
medea-macro = { version = "0.3.0-dev", path = "crates/medea-macro" }
medea-reactive = "0.1"
mockall = { version = "0.11", optional = true }
sealed = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tracerr = "0.3"
url = "2.3"

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.13"

[target.'cfg(any(target_os = "ios", target_os = "linux", target_os = "macos", target_os = "windows"))'.dependencies]
simple_logger = "4.0"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
anyhow = "1.0"
dart-sys = "4.0"
flutter_rust_bridge = { version = "=1.64.0", default-features = false }
libc = "0.2"

[target.'cfg(target_family = "wasm")'.dependencies]
backoff = { version = "0.4", features = ["wasm-bindgen"] }
console_error_panic_hook = { version = "0.1", optional = true }
js-sys = "0.3"
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wasm-logger = "0.2"
wee_alloc = { version = "0.4", optional = true }
[target.'cfg(target_family = "wasm")'.dependencies.web-sys]
    version = "0.3.61"
    features = [
        "console",
        "ConstrainDomStringParameters", "ConstrainDoubleRange",
        "CloseEvent",
        "DisplayMediaStreamConstraints",
        "Event", "EventTarget",
        "MediaDevices","MediaDeviceInfo", "MediaDeviceKind",
        "MediaTrackConstraints", "MediaTrackSettings",
        "MediaStream", "MediaStreamConstraints",
        "MediaStreamTrack", "MediaStreamTrackState",
        "MessageEvent",
        "Navigator",
        "RtcBundlePolicy",
        "RtcConfiguration",
        "RtcIceCandidate", "RtcIceCandidateInit",
        "RtcIceConnectionState",
        "RtcIceServer",
        "RtcIceTransportPolicy",
        "RtcOfferOptions",
        "RtcPeerConnection", "RtcPeerConnectionIceEvent",
        "RtcRtpReceiver", "RtcRtpSender",
        "RtcRtpTransceiver", "RtcRtpTransceiverDirection",
        "RtcRtpTransceiverInit",
        "RtcSdpType",
        "RtcSessionDescription", "RtcSessionDescriptionInit",
        "RtcStats",
        "RtcTrackEvent",
        "WebSocket", "Window",
    ]

[build-dependencies]
cc = "1.0"

[target.'cfg(target_family = "wasm")'.dev-dependencies]
instant = { version = "0.1", features = ["wasm-bindgen"] }
wasm-bindgen-test = "0.3"
