name: medea_jason_example
description: Demonstrates how to use the medea_jason plugin.

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

  # When depending on this package from a real application you should use:
  #   medea_jason: ^x.y.z
  # See https://dart.dev/tools/pub/dependencies#version-constraints
  # The example app is bundled with the plugin so we use a path dependency on
  # the parent directory to use the current plugin's version.
  medea_jason:
    path: ../

  cupertino_icons: ^1.0.2
  freezed_annotation: ^2.2.0

dev_dependencies:
  faker_dart: ^0.1.11
  flutter_gherkin: 3.0.0-rc.17
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  json_serializable: ^6.3.1
  pedantic: ^1.9.0

flutter:
  assets:
    - assets/images/
  uses-material-design: true
