name: medea_jason_example
description: Demonstrates how to use the `medea_jason` plugin.
version: 1.0.0
publish_to: none

environment:
  flutter: ">=3.38.0"
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # When depending on this package from a real application you should use:
  #   medea_jason: ^x.y.z
  # See https://dart.dev/tools/pub/dependencies#version-constraints
  # The example app is bundled with the plugin, so we use a path dependency on
  # the parent directory to use the current plugin's version.
  medea_jason:
    path: ../

  cupertino_icons: ^1.0.2
  device_info_plus: ^11.4.0
  faker_dart: ^0.2.2
  freezed_annotation: ^3.1.0
  http: ">=0.13.6 <2.0.0"
  medea_flutter_webrtc: 0.16.0-dev+rev.730ba5fff73959a253534f7b2a647092509df575
  retry: ^3.1.2

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_gherkin:
    git:
      url: https://github.com/SleepySquash/flutter_gherkin.git
      ref: upgrade-packages
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  gherkin: ^2.0.8
  integration_test:
    sdk: flutter
  json_serializable: ^6.9.0

flutter:
  assets:
    - assets/images/
  uses-material-design: true
