name: medea_jason_example
description: Demonstrates how to use the medea_jason plugin.
version: 1.0.0
publish_to: none

environment:
  flutter: ">=3.7.0"
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # When depending on this package from a real application you should use:
  #   medea_jason: ^x.y.z
  # See https://dart.dev/tools/pub/dependencies#version-constraints
  # The example app is bundled with the plugin so we use a path dependency on
  # the parent directory to use the current plugin's version.
  medea_jason:
    path: ../

  cupertino_icons: ^1.0.2
  faker_dart: ^0.1.11
  freezed_annotation: ^2.2.0
  http: ^0.13.6
  medea_flutter_webrtc: ^0.8.1
  retry: ^3.1.2

dev_dependencies:
  flutter_gherkin: 3.0.0-rc.17
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  json_serializable: ^6.3.1
  flutter_lints: ^2.0.1

flutter:
  assets:
    - assets/images/
  uses-material-design: true
