[*.dart]
indent_style = space
indent_size = 2

[*.kt]
indent_style = space
indent_size = 4

[*.m]
indent_style = space
indent_size = 4

[*.swift]
indent_style = space
indent_size = 2

[*.gradle]
indent_style = space
indent_size = 4

[*.podspec]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4
