name: medea_jason
description: Cross-platform client library of Medea media server for Flutter.
version: 0.3.0-dev
homepage: https://github.com/instrumentisto/medea-jason

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.0.1
  http: ^0.13.5
  js: ^0.6.4
  medea_flutter_webrtc: 0.8.0-dev+rev.1117c353c5d8ccc7287ffeaa39ac058f40fbaf37
  tuple: ^2.0.0
  uuid: ^3.0.6
  # flutter_rust_bridge: 
  #   path: /media/human/DE2466F72466D1D72/Work/Github/Test/flutter_rust_bridge/frb_dart/

dev_dependencies:
  build_runner: ^2.2.0
  ffigen: 6.1.2

  flutter_gherkin: 3.0.0-rc.9
  import_sorter: ^4.6.0
  integration_test:
    sdk: flutter
  json_serializable: ^6.3.1
  pedantic: ^1.9.0

flutter:
  plugin:
    platforms:
      android:
        package: com.medea.jason
        pluginClass: JasonPlugin
      ios:
        pluginClass: MedeaJasonPlugin
      linux:
        pluginClass: MedeaJasonPlugin
      macos:
        pluginClass: MedeaJasonPlugin
      windows:
        pluginClass: MedeaJasonPlugin
  assets:
    - assets/pkg/
