name: medea_jason
description: Cross-platform client library of Medea media server for Flutter.
version: 0.3.0
homepage: https://github.com/instrumentisto/medea-jason/blob/master/flutter

environment:
  flutter: ">=3.10.0"
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.0.1
  flutter_rust_bridge: 1.77.1  # should be the same as in `Cargo.lock`
  freezed_annotation: ^2.2.0
  http: ^0.13.5
  js: ^0.6.5
  json_annotation: ^4.7.0
  medea_flutter_webrtc: ^0.8.2
  meta: ^1.8.0
  retry: ^3.1.0
  tuple: ^2.0.1
  uuid: ^3.0.7

dev_dependencies:
  build_runner: ^2.4.5
  ffigen: 8.0.2
  flutter_gherkin:
    git:
      url: https://github.com/jonsamwell/flutter_gherkin.git
      ref: ea59f6376f2d78e5b2140980e74879b862218ea1
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  freezed: ^2.2.0
  gherkin: ^2.0.8
  import_sorter: ^4.6.0
  json_serializable: ^6.6.2

# TODO: Remove once `flutter_gherkin` updates.
dependency_overrides:
  analyzer: ^5.13.0

flutter:
  plugin:
    platforms:
      android:
        package: com.medea.jason
        pluginClass: JasonPlugin
      ios:
        pluginClass: MedeaJasonPlugin
      linux:
        pluginClass: MedeaJasonPlugin
      macos:
        pluginClass: MedeaJasonPlugin
      windows:
        pluginClass: MedeaJasonPlugin
  assets:
    - assets/pkg/
