name: medea_jason
description: Cross-platform client library of Medea media server for Flutter.
version: 0.3.0-dev
homepage: https://github.com/instrumentisto/medea-jason
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^1.0.0
  flutter_webrtc:
    path: ../../flutter-webrtc
    # git:
    #   url: https://github.com/instrumentisto/flutter-webrtc.git
  js: ^0.6.3

dev_dependencies:
  pedantic: ^1.9.0

flutter:
  plugin:
    platforms:
      android:
        package: com.medea.jason
        pluginClass: JasonPlugin
      linux:
        pluginClass: MedeaJasonPlugin
      windows:
        pluginClass: MedeaJasonPlugin
  assets:
    - assets/pkg/
