name: medea_jason
description: Cross-platform client library of Medea media server for Flutter.
version: 0.3.0-dev
homepage: https://github.com/instrumentisto/medea-jason
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.0.1
  medea_flutter_webrtc: 0.8.0-dev+rev.1c0c2769afb29a76f4e6b7c4707ab3526ceab937
  js: ^0.6.4
  http: ^0.13.5
  uuid: ^3.0.6
  tuple: ^2.0.0

dev_dependencies:
  build_runner: ^2.2.0
  flutter_gherkin: 3.0.0-rc.9
  import_sorter: ^4.6.0
  integration_test:
    sdk: flutter
  json_serializable: ^6.3.1
  pedantic: ^1.9.0

flutter:
  plugin:
    platforms:
      android:
        package: com.medea.jason
        pluginClass: JasonPlugin
      linux:
        pluginClass: MedeaJasonPlugin
      macos:
        pluginClass: MedeaJasonPlugin
      windows:
        pluginClass: MedeaJasonPlugin
  assets:
    - assets/pkg/
