[package]
name = "medea-e2e"
version = "0.0.0"
edition = "2021"
rust-version = "1.57"
description = "E2E tests for Medea media server."
authors = ["Instrumentisto Team <developer@instrumentisto.com>"]
publish = false

[dependencies]
derive_more = "0.99"
fantoccini = "0.18.0-beta.1"
futures = "0.3"
once_cell = "1.0"
serde = "1.0"
serde_json = "1.0"
tokio = { version = "1.0", features = ["rt-multi-thread"] }
uuid = { version = "0.8", features = ["v4"] }

[dev-dependencies]
async-recursion = "0.3"
async-trait = "0.1"
clap = "3.0.0-rc.9"
cucumber = "0.11.0-rc.1"
medea-control-api-mock = { path = "../mock/control-api" }
regex = "1.5"
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }

[[test]]
name = "e2e"
path = "tests/main.rs"
harness = false  # Allows Cucumber to print output instead of libtest.
