version: "2"

services:
  frontend:
    container_name: ${COMPOSE_PROJECT_NAME}-frontend
    image: nginx:stable-alpine
    ports:
      - "6565:6565"      # medea grpc
      - "8000:8000"      # control-api-mock http
      - "8001:8001"      # medea http (ws)
      - "30000:30000"    # frontend http
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./index.html:/usr/share/nginx/html/index.html:ro
      - ../pkg/:/usr/share/nginx/html/pkg/:ro
  medea:
    container_name: ${COMPOSE_PROJECT_NAME}-medea
    image: ${COMPOSE_MEDEA_IMAGE_NAME}:${COMPOSE_MEDEA_IMAGE_VER}
    environment:
      RUST_LOG: ${RUST_LOG}
      MEDEA__SERVER__CLIENT__HTTP__BIND_PORT: 8001
    network_mode: service:frontend
  control-api-mock:
    container_name: ${COMPOSE_PROJECT_NAME}-control-api-mock
    image: ${COMPOSE_CONTROL_MOCK_IMAGE_NAME}:${COMPOSE_CONTROL_MOCK_IMAGE_VER}
    depends_on: ["medea"]
    network_mode: service:frontend
  webdriver:
    container_name: ${COMPOSE_PROJECT_NAME}-webdriver
    image: ${COMPOSE_WEBDRIVER_IMAGE_NAME}:${COMPOSE_WEBDRIVER_IMAGE_VER}
    depends_on: ["control-api-mock", "frontend", "medea"]
    shm_size: 768m
    entrypoint: ${COMPOSE_WEBDRIVER_ENTRYPOINT}
    network_mode: host
