[env]
# See: https://cucumber-rs.github.io/cucumber/current/output/intellij.html
CARGO_WORKSPACE_DIR = { value = "", relative = true }

[target.wasm32-unknown-unknown]
runner = "wasm-bindgen-test-runner"
rustflags = [
    "--cfg=web_sys_unstable_apis",
]
